@import "colors.css";

#workspaces {
  margin: 4px 0;
  padding: 4px 2px;
  border-radius: 8px;
}

#workspaces button {
  border: none;
  padding: 2px 4px;
}

#workspaces button label {
  color: @text;
}

#workspaces button.urgent {
  background: @red;
  margin-left: 8px;
  margin-right: 8px;
}

#workspaces button.active {
  margin-left: 5px;
  margin-right: 5px;
  background: @yellow;
}

#workspaces button.active label {
  color: @crust;
}

#workspaces button.urgent label {
  background: @red;
  color: @crust;
}

#workspaces button:hover {
  background: transparent;
}

#workspaces button:hover label {
  text-shadow: none;
}

