@import "styles/colors.css";
@import "styles/workspaces.css";
@import "styles/window.css";
@import "styles/clock.css";
@import "styles/network.css";
@import "styles/notification.css";

* {
  font-family: "Symbols Nerd Font", "MesloLGS Nerd Font Mono";
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: transparent;
  color: @crust;
}

tooltip {
  background-color: @surface0;
}

tooltip * {
  color: @text;
}
